.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  align-items: left;
  justify-content: left;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-div {
  padding-left: 20px;
  padding-top: 20px;
}

.App-p {
  color: black;
  font-size: calc(5px + 2vmin);
  font-weight: normal;
}

.App-h3 {
  color: black;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
}

.App-h2 {
  color: black;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
}
